@use "media";

/**
* Gravity Forms minimalistics if using default base theme in GF settings.
* The theme framework uses root settings, if nothing else defined.
* Add more gernral settings to root by inspecting the element styling you want to change.
* The button styling is set from Ilme root button styles found in blocks/buttons.css
*/

/**
* Gravity Forms minimalistics if using default base theme in GF settings.
* The theme framework uses root settings, if nothing else defined.
* Add more gernral settings to root by inspecting the element styling you want to change.
* The button styling is set from Ilme root button styles found in blocks/buttons.css.
* For style changes to take effect: MAKE BUILD!!!
*/

:root {
  .gform-theme--framework {
    --gf-color-primary: var(--wp--preset--color--brand);
    --gf-color-primary-darker: var(--wp--preset--color--orange);
    --gf-ctrl-bg-color: var(--wp--preset--color--white);
    --gf-color-out-ctrl-light-darker: var(--wp--preset--color--lightgrey);
    --gf-ctrl-border-color: var(--wp--preset--color--lightgrey);
    --gf-ctrl-border-color-hover: var(--wp--preset--color--lightgrey);
    --gf-ctrl-radius: 12px;
    --gf-ctrl-textarea-radius: 12px;
    --gf-ctrl-border-width: 1px;
    --gf-ctrl-border-style: solid;
    --gf-ctrl-color: var(--wp--preset--color--black);
    --gf-ctrl-outline-color: var(--wp--preset--color--lightblue);
    --gf-ctrl-outline-color-focus: var(--wp--preset--color--lightblue);
    --gf-ctrl-border-color-focus: var(--wp--preset--color--brand);
    --gf-ctrl-accent-color: var(--wp--preset--color--brand);
    --gf-ctrl-btn-bg-color-ctrl: var(--jcore-button-bg-color);
    --gf-ctrl-btn-color-primary: var(--jcore-button-text-color);
    --gf-ctrl-btn-color-hover-primary: var(--jcore-button-hover-text-color);
    --gf-ctrl-btn-color-hover-ctrl: var(--jcore-button-hover-text-color);
    --gf-ctrl-btn-bg-color-primary: var(--jcore-button-bg-color);
    --gf-ctrl-btn-bg-color-hover-primary: var(--jcore-button-hover-bg-color);
    --gf-ctrl-btn-bg-color-hover-ctrl: var(--jcore-button-hover-bg-color);
    --gf-ctrl-btn-radius: var(--jcore-button-radius);
    --gf-ctrl-btn-font-weight: var(--jcore-button-font-weight);
    --gf-ctrl-btn-text-transform: none;
    --gf-ctrl-btn-font-size: var(--jcore-button-font-size);
    --gf-ctrl-btn-font-style: normal;
    --gf-ctrl-btn-font-family: var(--jcore-heading-font-family);
    --gf-ctrl-btn-font-size-md: var(--wp--preset--font-size--paragraph);
    --gf-ctrl-btn-padding-y: 1rem;
    --gf-ctrl-btn-padding-x-md: 2rem;
    --gf-ctrl-choice-check-color: var(--wp--preset--color--brand);
    --gf-field-pg-prog-bar-bg-color-blue: var(--wp--preset--color--brand);
    --gf-field-pg-prog-bar-bg-color-orange: var(--wp--preset--color--brand);
    --gf-ctrl-label-font-size-primary: var(--wp--preset--font-size--paragraph);
    --gf-ctrl-label-font-size-tertiary: var(--wp--preset--font-size--mini);
    --gf-color-in-ctrl-primary: var(--wp--preset--color--brand);
    --gf-color-in-ctrl-primary-darker: var(--wp--preset--color--brand);
    --gf-ctrl-file-zone-icon-color: var(--wp--preset--color--brand);
    --gf-form-footer-margin-y-start: 2.5rem;
    --gf-field-prod-quant-width: 65px;
  }
}
body {
  .gform_wrapper {
    .gform_fields {
      gap: 1.5rem;
    }
    .gform-footer {
      @include media.breakpoint("sm") {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .gform-theme--framework.prodlist_wrapper .prod {
    max-width: 500px;
  }
  .gform-theme--framework .gfield--type-product .ginput_quantity {
    margin-block-end: var(--gf-field-prod-quant-margin-y-end);
    order: 3;
    flex-basis: 10%;
  }
  .gform-theme--framework
    .gfield--type-product
    .ginput_container_singleproduct {
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  .gform-theme--framework .ginput_quantity_label.gform-field-label {
    order: 4;
    flex-basis: 10%;
    font-size: 18px;
    margin-left: 1rem;
    align-self: center;
  }
  .gform-theme--framework .ginput_quantity {
  }
  .gform-theme--framework
    .gform-field-label.gform-field-label--type-sub-large.ginput_product_price_label {
    display: none;
  }

  .gform-theme--framework
    .gform-field-label.gform-field-label--type-sub-large.ginput_product_price {
    font-size: 20px;
    font-weight: 500;
    color: var(--wp--preset--color--brand);
  }

  .gform-theme--framework .ginput_product_price_wrapper {
    flex-basis: 70%;
  }
}
