.wp-block-jcore-latest-posts__inner {
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  gap: 0;
}

.wp-block-jcore-latest-posts__inner.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.wp-block-jcore-latest-posts__inner.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.wp-block-jcore-latest-posts__inner.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.wp-block-jcore-latest-posts__inner.columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
