@use "sass:map";
@use "media";

.wp-block-lohko-navigation,
#jcore-nav {
	margin: 0 calc((100vw - var(--wp--style--global--content-size)) / 2);

	/* Submenu theme styling */
	.menu-level-1,
	.menu-1 {
		background-color: var(--wp--preset--color--dark);
		border-radius: 1rem;
		padding: 1rem;
	}
}

/* Mobile navigation theme background */
@media (width < map.get(media.$breakpoints, "lg")) {
	.wp-block-lohko-navigation,
	#jcore-nav {
		.menu-level-0,
		.menu-0 {
			background-color: var(--wp--preset--color--dark);
		}
	}
}

/* Admin-bar offset fixes */
body.admin-bar {
	.navbar.scrollActive,
	.navbar.sticky,
	.wp-block-lohko-nav-header.scrollActive,
	.wp-block-lohko-nav-header.sticky,
	.skip-to-content a {
		top: 46px;
	}

	@media screen and (min-width: 781px) {
		.navbar.scrollActive,
		.navbar.sticky,
		.wp-block-lohko-nav-header.scrollActive,
		.wp-block-lohko-nav-header.sticky,
		.skip-to-content a {
			top: 32px;
		}
	}
}
