@use "media";

.block-post_grid {
  .posts-highlight {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
  }
  &.columns-2 {
    .posts-highlight {
      @include media.breakpoint("sm") {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  &.columns-3 {
    .posts-highlight {
      @include media.breakpoint("md") {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
  &.columns-4 {
    .posts-highlight {
      @include media.breakpoint("sm") {
        grid-template-columns: 1fr 1fr;
      }
      @include media.breakpoint("lg") {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
