:root {
  --jcore-font-family: var(--wp--preset--font-family--ProximaNova);
  --jcore-heading-font-family: var(--wp--preset--font-family--ProximaNova);
}


/* Any heading with pre-text in mini-font-size (use css: "mini" on the H-element for right margins)*/
h1,h2, h3, h4 {
  &.wp-block-heading.mini{
  margin-top: .5rem;
  }
}
/* Any paragraph with pre-text in mini-font-size (use css: "mini" on the p-element for right margins)*/
  p.mini{
  margin-top: .5rem;
  }

a {
  text-underline-offset: 3px;
  text-decoration-thickness: from-font;
}
