//Buttons in Gutenberg are built with two divs, and the buttons tyles take affect on the inner div =
//.wp-block-button__link
// To be able to use the same styles of buttons both in child templates and g-berg-content,
//without having to follow G-berg-button-semantics, the button mixin has a negated mixin as well.

@mixin setAllLinkStyles {
  &, &:active, &:focus, &:hover, &:visited {
    @content;
  }
}

@mixin button ($background-color: var(--bs-primary), $hover-color: var(--bs-light), $text-color: var(--bs-light), $hover-text-color: var(--bs-primary)) {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  appearance: none;
  border: 1px solid $background-color;
  transition: background-color 0.25s ease-out,color 0.25s ease-out;
  font-size: $font-size-base;
  line-height: 1.2;
  text-align: center;
  border-radius: 5px;
  font-weight: $font-weight-normal;
  padding:  0.75rem 1.5rem;
  text-decoration: none;
  box-shadow: rgba(100,100,100,.2) 1px 1px 2px;
  cursor: pointer;
  position: relative;
  width: max-content;

  background-color: $background-color;
  color: $text-color;

  &:visited {
    color: $text-color;
    &:hover {
      color: $hover-text-color;
    }
  }

  &:hover {
    background-color: $hover-color;
    color: $hover-text-color;
    text-decoration: none;
    transition: 200ms;
    border: 1px solid $background-color;
  }
  &:after {
    content: " ";
    background: transparent linear-gradient(180deg, #ffffff00 0%, #ffffff3b 100%) 0 0 no-repeat padding-box;
    width: 100%;
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    }
  &.disabled {
    background-color: $gray-light;
    border: 1px solid $gray-dark;
    &:hover {
      background-color: $gray-dark;
    }
  }
}
@mixin button-negated ($background-color: transparent, $hover-color: transparent, $text-color: transparent, $hover-text-color: transparent) {
  display:inline-block;
  vertical-align: middle;
  font-family: inherit;
  appearance: none;
  border: 1px solid transparent;
  transition: none;
  font-size: $font-size-base;
  line-height: 1.2;
  text-align: center;
  border-radius: none;
  font-weight: $font-weight-normal;
  padding:  0;
  text-decoration: none;
  box-shadow: none;
  cursor: none;
  position: relative;

  background-color: $background-color;
  color: $text-color;

  &:hover {
    background-color: $hover-color;
    color: $hover-text-color;
    text-decoration: none;
    transition: none;
  }
  &:after {
    content: " ";
    background: none;
    width: 100%;
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }
}

.btn {
  @include button();
}
.btn-primary {
  @include button();
}
.btn-dark {
    @include button(var(--bs-dark), var(--bs-light), var(--bs-light), var(--bs-dark));
  border: 1px solid var(--bs-dark);
}
.btn-light {
  @include button(var(--bs-light), var(--bs-primary), var(--bs-primary), var(--bs-light));
  border: 1px solid var(--bs-primary);
  &:hover {
    border: 1px solid var(--bs-primary);
  }
}
.btn-wide {
  width: 100%;
}

// Gutenberg content button styling

.wp-block-button__link {
  @include button();
}
.wp-block-button.is-style-outline {
  .wp-block-button__link {
    @include button(var(--bs-light), var(--bs-primary), var(--bs-primary), var(--bs-light));
    border: 1px solid var(--bs-primary);
    &:hover {
      border: 1px solid var(--bs-primary);
    }
  }
}
.wp-block-button.btn, .wp-block-button.btn-primary {
  .wp-block-button__link {
    @include button();
  }
}
.wp-block-button.btn-light {
  .wp-block-button__link {
    @include button(var(--bs-light), var(--bs-primary), var(--bs-primary), var(--bs-light));
    border: 1px solid var(--bs-primary);
  }
}
.wp-block-button.btn-dark {
  .wp-block-button__link {
    @include button(var(--bs-dark), var(--bs-light), var(--bs-light), var(--bs-dark));
  border: 1px solid var(--bs-dark);
  }
}
.wp-block-button.btn-wide {
  .wp-block-button__link {
    width: 100%;
  }
}

//To prevent "double button styles" -the negated mixin is used.
.wp-block-button.btn {
  @include button-negated();
}
.wp-block-button.btn-dark {
  @include button-negated();
}
.wp-block-button.btn-light {
  @include button-negated();
}
.wp-block-button.btn-primary {
  @include button-negated();
}
