footer {
  // This is the main style for the footer. Colors background dark and so on.
  padding-top: $spacer * 2;

  #footer-main {
  // This is the main footer area. This uses "container" mixin.
    padding-top: $spacer*3;
    padding-bottom:  $spacer*3;
    @include make-container();
    @include make-container-max-widths();

    .footer-columns {
      // Row conatiner for footer sections. This uses "row" mixin.
      @include make-row();

      > * {
        // This makes all children of the row into columns, and adds some bottom spacing.
        @include make-col-ready();
        margin-bottom: 0;

        @include media-breakpoint-up(sm){
          // Three per row, plus logo.
          @include make-col(4)
        }
        @include media-breakpoint-up(lg){
          // Four per row, logo joins.
          @include make-col(3)
        }
      }
      .logo {
        margin-bottom: $spacer*3;
        .footer-brand img, .footer-brand svg {
          height: 25px;
          width: auto;
          @include media-breakpoint-up(md) {
            height: 30px;
          }
        }
        @include media-breakpoint-down(lg){
          // Put logo on separate row under "md up".
          @include make-col(12);
        }
      }

      //Dashicons  color override  as long as G-berg footer does not support ACF blocks
      // .wp-block-social-links:not(.is-style-logos-only) .wp-social-link {
      //  background-color: var(--bs-light);
      //  color: var(--bs-primary);
      //}
      //a {
      //  color: inherit;
     // }
    }
  }
  #copyright {
   >.content {
    padding-top: $spacer*0.5;
    padding-bottom:  $spacer*.5;
    @include make-container();
    @include make-container-max-widths();
      // Copyright section, uses smaller font and full width. Adds some vertical padding.
      font-size: $font-size-sm;
      text-align: center;
      p {
        margin-bottom: 0;
      }
    }
  }

  #scroll-to-top {
    opacity: 0;
    transition: .3s;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1;
    border: none;
    outline: none;
    background-color: var(--bs-primary);
    color: var(--bs-light);
    cursor: pointer;
    width: 50px;
    height: 50px;
    &:hover {
      background-color: var(--bs-light);
      color: var(--bs-dark);
    }
  }
}
 //partials/footer-some.twig is also used in a content block "Social Media Icons", in  G-berg. Hence, separate styling here:
 .social-media-links a {
  text-decoration: none;
  span {
    margin-bottom: 5px;
  }
}
