.login {
  background-color: var(--jcore-site-login-background-color);
  color: var(--jcore-site-login-text-color);
  #login {
    padding: 0;
  }
  h1 {
    a {
      background-image: none;
      text-indent: unset;
      width: unset;
      height: unset;
      svg, img {
        max-width: 100%;
      }
    }
  }
  .button {
    @include button(var(--bs-primary))
  }
  form {
    background-color: var(--jcore-site-login-form-color);
    border-radius: $spacer*0.25;
    border: 0;
    box-shadow: unset;
  }
}
