// Spacings
$spacer: 1rem !default;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$headings-font-family: "Open Sans", sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$font-height-base: 1.4;
$headings-font-weight: 700;
$headings-line-height: 1.4;
$headings-font-size: 2rem;

$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;

// Headings
$h1-font-size: $headings-font-size * 1.25;
$h2-font-size: $headings-font-size * 1;
$h3-font-size: $headings-font-size * 0.875;
$h4-font-size: $headings-font-size * 0.75;
$h5-font-size: $headings-font-size * 0.625;
$h6-font-size: $headings-font-size * 0.5;

$headings-margin-bottom: $spacer * 0.5;

// Responsive font sizes
$enable-responsive-font-sizes: true;
// Above this breakpoint, the value will be equal to the value you passed to RFS; below the breakpoint, the value will dynamically scale.
$rfs-breakpoint: 1200px !default;
// The option will prevent the value from becoming too small on smaller screens. If the font size which is passed to RFS is smaller than this value, no fluid rescaling will take place.
$rfs-base-value: 1.25rem !default;
// This value determines the strength of font size resizing. The higher the factor, the less difference there is between values on small screens. The lower the factor, the less influence RFS has, which results in bigger values for small screens. The factor must be greater than 1.
$rfs-factor: 10 !default;
// When the the disable classes are generated you can add the .disable-rfs class to an element to disable responsive value rescaling for the element and its child elements.
$rfs-class: disable;
// Safari doesn't resize its values in an iframe if the iframe is resized. To fix this min-width: 0vw can be added and that's what happens if this option is enabled.
$rfs-safari-iframe-resize-bug-fix: false !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
) !default;

// Bootstrap defaults.
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px,
) !default;

// Gutenberg default / narrow widths.
$container-narrow-cols: (
        sm: 12,
        md: 12,
        lg: 10,
        xl: 10,
        xxl: 10,
) !default;

// Gutenberg wide widths.(Together with class "content-wide")
$container-wide-cols: (
        sm: 12,
        md: 12,
        lg: 10,
        xl: 10,
        xxl: 10,
) !default;

// Vertical group paddings.
$group-paddings: (
        xs: $spacer,
        sm: $spacer,
        md: $spacer,
        lg: $spacer * 2,
        xl: $spacer * 2,
        xxl: $spacer *2,
) !default;

// Spacings
$content-margin-top: $spacer * 2 !default; // Main content margin for first block.
$content-margin-bottom: $spacer * 2 !default; // Main content margin for last block.
$group-margin-top: 0 !default; // Spacing between grouops.
$group-margin-bottom: 0 !default; // Recommended to se only bottom margin, not both.

// Set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width: $spacer * 2 !default;

$mobile-menu-bp: "lg" !default;

// Colors
$login-bg: var(--bs-light) !default;
$login-form: var(--bs-light) !default;
$login-color: var(--bs-dark) !default;

// Links
//
// Style anchor elements.
$link-color: var(--bs-dark);
$link-decoration: underline;
$link-hover-color: var(--bs-highlight);
$link-hover-decoration: underline !default;
