{% block navbar_above %}{% endblock %}
<nav id="navbar-desktop" class="navbar navbar-desktop{% if customizer('navigation_desktop','scroll') %} scrollTop scrollActive{% endif %}{% if customizer('navigation_desktop','sticky') and not customizer('navigation_desktop','spacer') %} sticky{% endif %}" data-jscroll="{% if customizer('navigation_desktop','scroll') %}true{% else %}false{% endif %}" data-jsticky="{% if not customizer('navigation_desktop','sticky') %}false{% elseif customizer('navigation_desktop','spacer') %}spacer{% else %}no-spacer{% endif %}">
	{% block topbar %}
		{% if customizer('navigation_desktop','topbar') %}
			{% include 'navigation/topbar.twig' %}
		{% endif %}
	{% endblock %}
	{% block navbar %}
		<div class="main-bar">
			{% block start %}
				<div class="start">
					{% if not customizer('navigation_desktop','disable_logo') %}
						<a class="navbar-brand" href="{{ home }}" aria-label="{{ __('Home page','jcore') }}">
							{% include 'images/navbar-brand.twig' %}
						</a>
					{% endif %}
				</div>
			{% endblock %}
			{% block menu %}
				<ul id="main-menu" class="menu menu-desktop">
					{% for item in menu.primary.get_items %}
						{% include ['navigation/item-desktop.twig', 'navigation/item.twig'] with {item, type: 'desktop', index: loop.index, level: 0, hover: customizer('navigation_desktop','hover')} only %}
					{% endfor %}
				</ul>
			{% endblock %}
			{% block end %}
				{% if customizer('navigation_desktop','search') %}
					<div class="end">
						<button id="searchbar-toggle" class="toggle-search mr-4 mr-lg-0">
							<i class="fas fa-search"></i>
						</button>
					</div>
				{% endif %}
			{% endblock %}
		</div>
	{% endblock %}
</nav>
{% block navbar_below %}
	{% include "partials/search.twig" %}
{% endblock %}
