{% block above_mobile %}{% endblock %}
<nav id="mobile-navbar"
     class="navbar navbar-mobile{% if customizer('navigation_mobile','scroll') %} scrollTop scrollActive{% endif %}"
     data-jscroll="{{ customizer('navigation_mobile','scroll')?'true':'false' }}"
     data-jsticky="{% if not customizer('navigation_mobile','sticky') %}false{% elseif customizer('navigation_mobile','spacer') %}spacer{% else %}no-spacer{% endif %}">
    {% block top_mobile %}
        {% if customizer('navigation_desktop','topbar') %}
            {% include 'navigation/topbar.twig' %}
        {% endif %}
    {% endblock %}
    {% block mobile %}
        <div class="main-bar">
            {% block mobile_start %}
                {% if not customizer('navigation_mobile','disable_logo') %}
                    <div class="start">
                        <a class="navbar-brand" href="{{ home }}" aria-label="{{ __('Home page','jcore') }}">
                            {% include 'images/navbar-brand.twig' %}
                        </a>
                    </div>
                {% endif %}
            {% endblock %}
            {% block mobile_main %}
            {% endblock %}
            {% block mobile_end %}
                <div class="end">
                    <button id="mobile-menu-toggle" aria-controls="mobile-menu"
                            data-jtoggle="mobile-menu mobile-navbar">
                        {% block hamburger %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-align-right open-icon">
                                <line x1="21" y1="10" x2="7" y2="10"/>
                                <line x1="21" y1="6" x2="3" y2="6"/>
                                <line x1="21" y1="14" x2="3" y2="14"/>
                                <line x1="21" y1="18" x2="7" y2="18"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="feather feather-x close-icon">
                                <line x1="18" y1="6" x2="6" y2="18"/>
                                <line x1="6" y1="6" x2="18" y2="18"/>
                            </svg>
                        {% endblock %}
                    </button>
                </div>
            {% endblock %}
        </div>
        {% block mobile_menu %}
            <ul id="mobile-menu" class="menu menu-mobile">
                {% for item in menu.primary.get_items %}
                    {% include ['navigation/item-mobile.twig', 'navigation/item.twig'] with {item, type: 'mobile', index: loop.index, level: 0, hover: customizer('navigation_mobile','hover')} only %}
                {% endfor %}
                {% block bottom_inside_mobile_menu %}
                {% endblock %}
            </ul>
        {% endblock %}
    {% endblock %}
    {% block bottom_mobile %}{% endblock %}
</nav>
{% block below_mobile %}{% endblock %}
