{% block navbar_above %}
	{% if customizer('navigation','topbar') %}
		{% include 'navigation/topbar.twig' %}
	{% endif %}
{% endblock %}

<header class="navigation-header has-dark-background-color has-light-color" data-jscroll data-jsticky>
	<nav id="jcore-nav">
		{% block navbar %}
			{% block logo %}
				<div class="brand">
					{% include 'images/navbar-brand.twig' %}
				</div>
			{% endblock %}
			{% block menu %}
				{% include "navigation/menu.twig" with {items: menu.primary.get_items, id: "jcore-menu", level: 0} only %}
			{% endblock %}
			{% block search %}
				{% if customizer('navigation','search') %}
					<button id="searchbar-toggle" class="toggle-search mr-4 mr-lg-0">
						<i class="fas fa-search"></i>
					</button>
				{% endif %}
			{% endblock %}
			<button class="hamburger" data-jtoggle="#jcore-menu" data-class="mobile-open">
			    {% include "images/hamburger.twig" %}
			</button>
		{% endblock %}
	</nav>
</header>
{% block navbar_below %}
	{% include "partials/search.twig" %}
{% endblock %}
