{% block navbar_above %}{% endblock %}

<nav id="jcore-nav" class="h-20 bg-primary is-layout-constrained{% if customizer('navigation','scroll') %} scrollTop scrollActive{% endif %}{% if customizer('navigation','sticky') and not customizer('navigation','spacer') %} sticky{% endif %}" data-jscroll="{% if customizer('navigation','scroll') %}true{% else %}false{% endif %}" data-jsticky="{% if not customizer('navigation','sticky') %}false{% elseif customizer('navigation','spacer') %}spacer{% else %}no-spacer{% endif %}">
    <div class="alignwide h-full">
        {% block topbar %}
            {% if customizer('navigation','topbar') %}
                {% include 'navigation/topbar.twig' %}
            {% endif %}
        {% endblock %}
        {% block navbar %}
            <div class="flex justify-between items-center h-full">
                {% block logo %}
                    <div class="[&_img]:h-11 [&_img]:w-auto">
                        {% include 'images/navbar-brand.twig' %}
                    </div>
                {% endblock %}
                <div class="h-full flex items-center">
                    {% block menu %}
                        <ul class="flex justify-end items-center gap-x-8 list-none">
                            {% for item in menu.primary.get_items %}
                                {% include ['navigation/item.twig'] with {item, index: loop.index, level: 0} only %}
                            {% endfor %}
                        </ul>
                    {% endblock %}
                    {% block search %}
                        {% if customizer('navigation','search') %}
                            <button id="searchbar-toggle" class="toggle-search mr-4 mr-lg-0">
                                <i class="fas fa-search"></i>
                            </button>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
</nav>

{% block navbar_below %}
    {% include "partials/search.twig" %}
{% endblock %}