/* Yoast FAQ & Accordion Block Styling */
.schema-faq,
.block-accordion {
  border-top: 1px solid var(--wp--preset--color--light);
}

.schema-faq-section,
.block-accordion .accordion-section {
  border-bottom: 1px solid var(--wp--preset--color--light);
}

.schema-faq-section .schema-faq-question,
.block-accordion .accordion-title {
  font-family: var(--jcore-heading-font-family);
  font-size: var(--wp--preset--font-size--heading-2);
  font-weight: 400;
  margin: 10px 0;
  padding: 1.5rem 20% 1.5rem 0;
  cursor: pointer;
  position: relative;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  width: 100%;

  &:after {
    content: "+";
    position: absolute;
    font-family: var(--jcore-heading-font-family);
    top: 50%;
    right: 0;
    width: 64px;
    height: 64px;
    background: var(--wp--preset--color--brand);
    border-radius: 999px;
    text-align: center;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--wp--preset--font-size--heading-2);
  }

  &.faq-q-open,
  &.accordion-open {
    &:after {
      content: "−";
    }
  }
}

.schema-faq-section p.schema-faq-answer,
.accordion-section .accordion-content {
  margin: 0;
  font-weight: 400;
  font-size: var(--wp--preset--font-size--paragraph);

  @media (width >= var(--breakpoint-md)) {
  max-width: 80%;
}
}

.schema-faq-section p.schema-faq-answer {
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition:
          height 0.3s ease-in-out,
          margin 0.3s ease-in-out;

  &.faq-a-open {
    margin-bottom: 1rem;
  }
}
