
/* 
* Add Project Specific Gutenberg Block Styling here! 
*
*/


/* 
* A little hack to cover the whole content column with one link from below. Add the linkall class to the surrounding div, and the the high class to the p contianing the link
*
*/

.linkall {
  position: relative;
}
p.high a::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  content: "";
}
