#jcore-nav {
    --jcore-menu-height: 80px;
    --jcore-menu-padding: 1rem;
    display: flex;
    margin: 0 calc((100vw - var(--wp--style--global--content-size))/2);

    & .brand {
        height: var(--jcore-menu-height);

        & img {
            height: calc( var(--jcore-menu-height) - (var(--jcore-menu-padding) * 2));
            margin: var(--jcore-menu-padding);
            width: auto;
        }
    }


    & .menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;

        &:not(.menu-0):not(.open) {
            display: none;
        }
    }

    & .menu-0 {
        flex-direction: row;
        height: var(--jcore-menu-height);
    }
}