/* Media and images */
.wp-block-image {
    &.alignleft {
        float: left;
    }
    &.alignright {
        float: right;
    }
    &.aligncenter {
        margin-left: auto;
        margin-right: auto;
    }
    border-radius: 8px;
    img {
        border-radius: 8px;
    }
    img.no-radius {
        border-radius: 0;
    }
}
.wp-block-cover:not(.no-radius) {
    .wp-block-cover__image-background {
        border-radius: 8px;
    }
}


/*Lightbox enabled, but no icon on the image on hover.*/
figure {
    button.lightbox-trigger {
        display: none;
    }
}

/*
* A class for zooming images on hover *
*/
.img-hover-zoom {
    overflow: hidden;
}
.img-hover-zoom img {
    transition: transform 0.5s ease;
    filter: brightness(90%);
}
.img-hover-zoom:hover img {
    transform: scale(1.1);
    filter: brightness(100%);
}


/*
* A class for zooming images on hover with brightness reversed compared to normal image-zoom *
*/
.img-hover-zoom-reverse {
    overflow: hidden; 
  }
  .img-hover-zoom-reverse img {
    transition: transform .5s ease;
    filter: brightness(100%);
  }
  
  .img-hover-zoom-reverse:hover img {
    transform: scale(1.1);
    filter: brightness(85%);
  }  


/* Gallery */
.blocks-gallery-grid,
.wp-block-gallery {
    figure.wp-block-image figcaption {
        padding: 1em 0.7em 0.77em;
        font-weight: 300;
        font-size: 16px !important;
    }
}
